<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio password</title>
    <link rel="stylesheet" href="/style/managerstyle/cambioPasswordStyle.css">
</head>
<body>

    <div id="container">
        <div class="title">
            <h1>Bar martinis</h1>
        </div>
        <section id="domanda">
            <form action="">
                <label for="cosa">Qual è la prima cosa che Ugo ha regalato a Flavia Fedele dopo il primo stipendio?</label>
                <input type="text" name="cosa" id="cosa"  autocomplete="off">

                <button type="submit" id="btn-risposta">Invia risposta</button>

                <div id="errore-risposta"></div>
            </form>
        </section>

        <section id="hidden">
            <form action="" id="hidden-form">
                <label for="password">Inserisci nuova password</label>
                <input type="text" name="password" id="password">

                <button type="submit" id="btn-new-password">Inserisci nuova password</button>

                <div id="errore-password"></div>
            </form>
        </section>
    </div>
    <script src="js/management/cambioPassword.js">
        const apiURL = "<%= apiURL %>";
    </script>
</body>
</html>