<%- include("../header.ejs") %>

<main>
    <section id="add-item">
        <div id="input-item">
            <form action="http://localhost:3000/api/inserimentoProdotti" method="post">
                <label for="item">Inserire Prodotto</label>
                <input type="text" name="prodotto" id="prodotto">

                <label for="categoria">Inserire categoria</label>
                <select name="categoria" id="categoria">
                    <option value="caffetteria">caffetteria</option>
                    <option value="friulbrau">friulBrau</option>
                    <option value="cibo">cibo</option>
                    <option value="publicart">publicart</option>
                    <option value="pulizia">pulizia</option>
                    <option value="altro">altro</option>
                </select>

                <label for="assenza">Inserire parametro di assenza</label>
                <select name="assenza" id="assenza">
                    <option value="lieve">Lieve</option>
                    <option value="moderato">Moderato</option>
                    <option value="grave">Grave</option>
                </select>

                <label for="nota">Aggiungi una nota(facoltativo)</label>
                <input type="text" name="nota" id="nota">

                <button type="submit" id="btn-inserimento-item">Inserisci prodotto</button>
                <div id="errore-prodotto"></div>
            </form>
        </div>
    </section>

    <section id="lista">
        <div id="caffetteria">
            <h2 class="title-prodotti">Caffetteria</h2>
          <div class="table-container">
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-caffetteria"></tbody>
          </table>
          </div>
        </div>

        <div id="friulbrau">
            <h2 class="title-prodotti">Friulbrau</h2>
          <div class="table-container"><
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-friulbrau"></tbody>
          </table>
          </div>
        </div>

        <div id="cibo">
            <h2 class="title-prodotti">Cibo</h2>
          <div class="table-container">
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-cibo"></tbody>
          </table>
          </div>
        </div>

        <div id="publicart">
            <h2 class="title-prodotti">Publicart</h2>
          <div class="table-container">
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-publicart"></tbody>
          </table>
          </div>
        </div>

        <div id="pulizia">
            <h2 class="title-prodotti">Pulizia</h2>
          <div class="table-container">
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-pulizia"></tbody>
          </table>
          </div>
        </div>

        <div id="altro">
            <h2 class="title-prodotti">Altro</h2>
          <div class="table-container">
          <table>
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Assenza</th>
                    <th>note</th>
                    <th>Utente</th>
                    <th>Modifica</th>
                    <th>Eliminazione prodotto</th>
                </tr>
            </thead>

            <tbody id="table-altro"></tbody>
          </table>
        </div>
        </div>
    </section>
</main>
    <script>
      const apiURL = "<%= apiURL %>";
    </script>
<% if(jsFile) { %>
    <script src="<%=jsFile %>"></script>
<% } %>
</body>
</html>