<%- include("../header.ejs") %>

        <main>
          <section id="turni-in">
            <div id="inizio">
              <form id="form-turni-in">
                <label for="inizio">Ora di inizio:</label>
                <input type="time" name="oraInizio" id="ora-inizio">

                <label for="giorno">Giorno:</label>
                <input type="date" name="giorno" id="giorno">

                <button type="button" id="btn-inizio">Invia orario inizio turno</button>

                <div id="errore-inizio"></div>
              </form>
            </div>

            <div id="fine">
              <form id="form-turni-off">
                <label for="fine">Ora di fine turno:</label>
                <input type="time" name="fine" id="ora-fine">

                <button type="submit" id="btn-fine">Inserisci ora fine turno</button>
                <div id="errore-fine"></div>
              </form>
            </div>
          </section>

          <section id="tabella-turni">
            <h2>I tuoi turni</h2>
            <form action="">
              <label for="mese">Seleziona mese</label>
              <select name="mese" id="mese">
                <option value="gennaio">Gennaio</option>
                <option value="febbraio">Febbraio</option>
                <option value="marzo">Marzo</option>
                <option value="aprile">Aprile</option>
                <option value="maggio">Maggio</option>
                <option value="giugno">Giugno</option>
                <option value="luglio">Luglio</option>
                <option value="agosto">Agosto</option>
                <option value="settembre">Settembre</option>
                <option value="ottobre">Ottobre</option>
                <option value="novembre">Novembre</option>
                <option value="dicembre">Dicembre</option>
              </select>
              <div id="errore-mese"></div>
            </form>

            <table>
              <thead>
                <tr>
                  <th>Giorno</th>
                  <th>Ora Inizio</th>
                  <th>Ora Fine</th>
                  <th>Totale</th>
                  <th>Elimina turno</th>
                </tr>
              </thead>

              <tbody id="turni-miei"></tbody>
            </table>

            <button id="btn-excel">Scarica Excel</button>
          </section>
        </main>
    </div>
    <script>
      const apiURL = "<%= apiURL %>";
    </script>
    <% if(jsFile) { %>
    <script src="<%=jsFile %>"></script>
    <% } %>
  </body>
</html>
